.react-calendar {
  width: 350px;
  max-width: 100%;
  background-color: white;
  color: #222;
  border-radius: 8px;
  padding: 0px 10px 10px 10px;
}

.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: white;
}
abbr[title] {
  text-decoration: none;
}

.calendar__navigation__label:disabled {
  background-color: white;
}

.react-calendar__tile {
  width: 50px;
  height: 50px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.react-calendar__tile > abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  color: black;
  border-radius: 100%;
}
.react-calendar__tile--now {
  background: white;
  color: #6f48eb;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--hasActive:enabled:hover {
  background: whitesmoke;
  border-radius: 6px;
}

.react-calendar__tile:enabled:focus,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--active:enabled:focus {
  background: #9f82ff;
}

.react-calendar__tile--active {
  background: #9f82ff;
  border-radius: 6px;

  &:enabled:hover {
    background: #9f82ff;
  }
}

.react-calendar__tile--active > abbr {
  color: white;
}
